.gray-background{
    background-color: lightgray;
    width: 90%;
    max-width: 1150px;
    margin: 32px auto;
    padding: 32px;
    border-radius: 5px;
}

.block{
    display: block;
}

ul{
    width: fit-content;
    text-align: center;
    list-style: none;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}

div{
    display: block;
}

.nav-list{
    display: inline-block;
    margin: 2rem 0 0 0;
    padding: 0;
    font-size: 25px;
}

ul li{
    margin-bottom: 2rem;
    margin-right: 5rem;
}

#sk-image{
    justify-content: stretch;
    align-items: stretch;
    border-radius: 16px;
    margin-left: 100px;
}

.sk-quote-nav{
    margin-top: 30px;
    margin-right: 40px;
    width: 400px;
    text-align: center;
}

#stephen-king-header{
    text-align: center;
    font-size: 4rem;
    font-weight: 800;
}

body{
    font-family: serif;
}

#header-container{
    overflow: auto;
    margin-bottom: 3rem;
}

#quote{
    font-size: 30px;
    text-align: left;
    margin: 0 20px 0 20px;
    font-style: italic;
}

a{
   color: rgb(45, 74, 240); 
   text-decoration: none;
}

a:hover{
    color: rgb(10, 31, 151);
}

#short-bio, #trivia, #book-adaptation, #references{
    margin-left: 2rem;
    margin-right: 2rem;
}

.header{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

.paragraph{
    font-size: 17px;
    line-height: 1.4rem;
    text-align: justify;
}

.btt-div{
    width: fit-content;
    margin: 0 auto;
    padding: 1rem;
}

.book-container{
    display: inline-block;
    margin: 1rem;
}

#books{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.book-container{
    background-color: white;
    padding: 0.3rem;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.book-frame{
    padding: 0.2rem;
    border: 1px solid rgb(233, 233, 233);
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 5px;
}

.book-frame img{
    border-radius: 5px;
}

.book-title{
    margin-top: 2rem;
}

.book-title, .book-date{
    text-align: center;
    font-size: 17px;
}


#click, #sub{
    font-size: 17px;
    text-align: center;
}

.book-container:hover{
    scale: 1.1;
    background-color: #3267e3;
    color: white;
}

.book-frame:hover{
    transform: scale(1.1);
    border-color: #3267e3;
    cursor: pointer;
}

.book-frame:active{
    transform: scale(1.09);
}

.book-container:active{
    background-color: #215adf;
}

#ts-video-desc{
    overflow: auto;
    float: left;
    width: 49%;
    margin-right: 11px;
}

#carrie-video-desc{
    overflow: auto;
    float: right;
    width: 49%;
    margin-left: 10px;
    margin-bottom: 8px;
}

#ts-video{
    width: fit-content;
    margin: 2rem auto;
}

#the-shining-poster{
    width: 25%;
    display: inline;
    margin: 0 1rem 0.5rem  ;
}

#ts-header{
    margin: 2rem auto;
}

#carrie-video{
    width: fit-content;
    margin: 2rem auto;
}

.video-frame{
    background-color: white;
    padding: 6px 6px 1rem;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin: 2rem;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.video-frame video{
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.video-frame:hover{
    scale: 1.05;
}

.video-frame video:hover{
    scale: 1.05;
}

#book.adaptation{
    overflow: auto;
}

#invis-border{
    width: 100%;
    margin: 1px auto;
    color: lightgray;
}

@media(width: 1075px){
    #carrie-video-desc{
        float: none;
    }

    #ts-video-desc{
        float: none;
    }
}